{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static widget_tweaks %}
{% load load_comments %}

{% block content %}
<div class="col-md-10">
    <div class="card">
        <div class="card-header bg-light">{{ issue.title }}</div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="bh_detail_view">Product: <span class="text-muted ">{{ issue.asset|default:"" }}</span></div>
                    <div class="bh_detail_view">Descripton:</div>
                    <div class="text-muted ">{{ issue.description|default:"" }}</div>
                </div>

                <div class="col-md-4">
                    <div class="bh_detail_view">Type: <span class="text_muted ">{{ issue.issuetype|default:"" }}</span></div>
                    <div class="bh_detail_view">Status: <span class="text_muted ">{{ issue.status|default:"" }}</span></div>
                    <div class="bh_detail_view">Summary:</div>
                    <div class="text-muted ">{{ issue.summary|default:"" }}</div>
                </div>

                <div class="col-md-4">
                    <div class="bh_detail_view">Users</div>
                    {% for user in issue.asset.users.all %}
                    <div class="text-muted bh_detail_view_list">{{ user|default:"" }}</div>
                    {% endfor %}
                    <div class="bh_detail_view">Files</div>
                    {% for file in issue.files %}
                    <div class="text-muted img_display_p bh_detail_view_list">
                        <a href="/media/{{ file.attachment }}" target="_blank">{{ file }}
                            <p>{{ file.description }}</p>
                        </a>
                    </div>
                        {% for f in file.attachments.all %}
                    <div class="text-muted img_display_p bh_detail_view_list">
                        <a href="/media/{{ f.attachment }}" target="_blank">{{ f }}
                            <p>{{  f.file.description  }}</p>
                        </a>
                    </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row  justify-content-between">
                    <div class="text-muted small col-8 align-self-start">Created by: {{ issue.createdby.fullname }}  | Last Updated: {{ issue.updated }}  </div>
                    <div class="text-muted small col-2 align-self-center">Users: {{ issue.asset.users.count }}  </div>
                    <!-- <div class="text-muted small col-2 align-self-end">Comments: {{ issues.comments.count }}</div> -->
                </div>
            </div>
        </div>

        <div class="card-footer bg-light text-right">
            <a href='javascript:history.back()' class="btn btn-primary">Back</a>
{% if request.user.user_profile.role.pk == 'Admin' or request.user.user_profile.role.pk == 'Tech' %}
            <a href='{% url "issues:file_add" issue.pk %}' class="btn btn-primary">Add File</a>
            <a href='{% url "issues:issue_edit" issue.slug %}' class="btn btn-primary">Edit</a>
{% endif %}
        </div>
    </div>
</div>
<div class="row b-5">
    <div class="col-8">
        <h5>Comments</h5>
        <form method="POST" action=".">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <input type="submit" class='btn btn-default' id="submit" value="Comment">
        </form>
        <hr>

        {% for comment in issue.comments %}
        <h6>{{ comment.short_text }}</h6>
        <p>{{ comment.content }}</p>
        <div class="text-muted small">
            {{ comment.user.fullname }} | {{ comment.updated }}
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% load_comments issue %}

{% endblock %}
