{% extends "base-login.html" %}
{% load static widget_tweaks %}

{% block page_title %}Password Changed | {% endblock %}


{% block login_content %}

<div class="card p-4">
    <form method="POST" novalidate>
        {% csrf_token %}

        <div class="card-header text-center h4 font-weight-light">
            <a class="navbar-brand" href="#">
              <img src="{% static 'imgs/Countermeasures-logo-50.png' %}" alt="logo"  height="40">
            </a><br>
            {{ site_title|default:_('CMSSI Portal') }}
        </div>
        <div class="card-body py-5">
            <p>Your password was changed.</p>
        </div>


    </form>
</div>

{% endblock %}
