
<div class="col-md-10">
    <div class="card">
        <div class="card-header bg-light">{{ page_title }}</div>

        <div class="card-body row">
                <div class="col-md-3">
                    <div>{{ company.name }}</div>
                    <div class="text-muted small"></div>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Full Name</label>
                                <input class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Company</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">Email Address</label>
                                <input class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="card-footer bg-light text-right"><button type="submit" class="btn btn-primary">Save Changes</button></div>

    </div>
</div>
