<div class='mt-5'>
   <h6>Issue List</h6>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><a href="#">Issue</a></th>
      <th scope="col"><a href="#">Asset</a></th>
      <th scope="col"><a href="#">Type</a></th>
      <th scope="col"><a href="#">Status</a></th>
    </tr>
  </thead>
  <tbody>
  {% for issue in issues %}
    <tr class='clickable-row' data-href='{{ issue.get_absolute_url }}'>
      <th scope="row">{{ issue.title }}</th>
      <td>{{ issue.asset }}</td>
      <td>{{ issue.issuetype }}</td>
      <td>{{ issue.status }}</td>
    </tr>

  {% endfor %}
  </tbody>
{% if request.user.user_profile.role.pk == 'Admin' or request.user.user_profile.role.pk == 'Tech' %}
  <tfoot>
    <tr>
      <th scope="col" colspan="4" align="right">
        <a href="{% url 'issues:issue_create' %}"
            class="btn  btn-primary">Add Issue</a>
      </th>
    </tr>
  </tfoot>
{% endif %}
</table>
