
{% load static %}

<nav class="sidebar col-xs-12 sidebar-sticky" id='sidebar'>
    <ul class="nav flex-column list-unstyled components">

        <li class="nav-item active">
            <a href="/" class="nav-link active">Dashboard</a>
        </li>

        <li class="nav-item">
            <a href="{% url 'company_list' %}" class="nav-link ">Companies</a>
        </li>

        <li class="nav-item">
            <a href="/user" class="nav-link">Users</a>
        </li>

        <li class="nav-item">
            <a href="/report" class="nav-link ">Reports</a>
        </li>

        <li class="nav-title">Assets</li>


        <li class="nav-item">
            <a href="/asset" class="nav-link ">Automated Gates</a>
        </li>

        <li class="nav-item">
            <a href="/asset" class="nav-link ">Overhead Doors</a>
        </li>

        <li class="nav-item">
            <a href="/asset" class="nav-link ">Access Control</a>
        </li>
    </ul>
</nav>
