<div class="col-md-10">
    <div class="card">
        <div class="card-header bg-light">{{ object.user.fullname }}</div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div>Email: <span class="text-muted ">{{ object.user.email }}</span></div>
                    <div>Phone: <span class="text-muted ">{{ object.phone }}</span></div>
                    <div>City: <span class="text-muted ">{{ object.city }}</span></div>
                    <div>Country: <span class="text-muted ">{{ object.country }}</span></div>
                    <div>Company: <span class="text-muted ">{{ object.organization }}</span></div>
                    <div>Bio: <span class="text-muted ">{{ object.bio }}</span></div>
                </div>
                <div class="col-md-6">
                    <div>Following Products:</div>
                    {% for item in object.assets.all %}
                        <div><span class="text-muted ">{{ item.name }}</span></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><span class="text-muted small">Last Updated: {{ defaultuser.updated }}</span></div>
        </div>

        <div class="card-footer bg-light text-right">
            <a href="{% url 'users:user_list' %} " class="btn btn-primary">User List</a>
            <a href="{% url 'users:user_edit' object.slug %} " class="btn btn-primary" id='edituser'>Edit User</a>
        </div>
    </div>
</div>



<script type="text/javascript">
    window.onload = function() {
        document.getElementById("edituser").focus();
    };
</script>
