{% extends "base.html" %}
{% load static %}

{% block page_title %}{{ page_title }} | {{ site_title|default:_('CMSSI Portal') }}{% endblock %}

{% block page_description %}{{ page_description }}{% endblock %}

{% block content %}
<!-- <div class="page-wrapper flex-row align-items-center"> -->
    <div class="container  mt-4 justify-content-center">
        <div class="row">
            <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 justify-content-center">
{% block login_content %}{% endblock %}
            </div>
        </div>
    </div>
<!-- </div> -->
{% endblock %}


