<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} | CMSSI</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

<style>

    .bh-top-nav a{
        color: #222222;
    }

    .bh-top-nav .navbar-brand{
        color: #000000;
        font-size: 1.2em;
    }

    .bh-side-nav {
        background-color: lightblue ;
    }

    .bh-main-content{
        background-color: #ffffff ;
        border-style: solid;
        border-width: 1px;
        border-color: red;
    }

    .grey{
        background-color: grey;
    }

    body{
        padding-top: 2.5em;
    }
</style>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="index">
<!-- navbar -->
     <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light border-bottom bh-top-nav py-md-0">
      <a class="navbar-brand" href="#">CMSSI Portal</a>
      <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="ml-auto">UserName <a href='#'>logout</a></div>
      </div>
    </nav>



<!-- Main Content -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-0 col-md-2 bh-side-nav ">DASHBOARD</div>
            <div class="col-sm-12 col-md-10 bh-main-content">
        {% block content %}
        {% endblock %}

            </div>
        </div>
    </div>

<!-- footer -->
    <footer class="footer mx-auto">
        <div class="container">
            <p>&copy; Countermeasures Security Solutions Inc. 2018</p>
        </div>
    </footer>

<!-- javascript -->

    <!-- bootstrap -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body>

</html>
