{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}{% endblock %}{{ site_title|default:_('CMSSI Portal') }}</title>
        <meta name="description" content="{% block page_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="all,follow">

        <link  rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
        <link  rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
        <link  rel="stylesheet" href="{% static 'vendor/font-awesome/css/fontawesome-all.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}

        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
        <script src="{% static 'js/carbon.js' %}"></script>
        <script src="{% static 'js/demo.js' %}"></script>
        {% block extrascript %}{% endblock %}
  </body>
</html>
