{% extends "base.html" %}

{% load static %}
{% block page_description %}{{ page_description }}{% endblock %}

{% block content %}
<div class="page-wrapper container-fluid">
    <div class="row " style="height:50px;">
        <div class="col-12">

<!-- start top-nav -->
{% block nav %}{# include 'snippets/nav.html' #}{% endblock %}
<nav class="navbar navbar-expand-lg fixed-top border-bottom bh-top-nav">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="{% static 'imgs/Countermeasures-logo-50.png' %}" alt="logo"  height="40">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#sidebar" aria-controls="sidebar" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
        <i class="fa fa-bars"></i>
    </a>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">
                  <i class="fa fa-bell"></i>
                  <span class="badge badge-pill badge-danger">2</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <div class="dropdown-header">New Issues</div>
                  <div class="dropdown-divider"></div>
                  <a href="#" class="dropdown-item"><span>Product Name</span><br>
                      <span class='font-weight-bold text-uppercase'>Mainenance Report<br></span>
                      Mainenance Report for March 2018
                  </a>

                  <a href="#" class="dropdown-item"><span>Product Name2</span><br>
                      <span class='font-weight-bold text-uppercase'>Tech Note<br></span>
                      Poor Reciever Range
                  </a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown2">
                  <i class="fa fa-envelope-open"></i>
                  <span class="badge badge-pill badge-danger">5</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown2">
                  <div class="dropdown-header">Unread Comments</div>
                  <a href="#" class="dropdown-item" ><span>Product Name</span><br>I made it to the gate today and was not able to reproduce the problem. If you are still having an issue on...</a>
                  <a href="#" class="dropdown-item"><span>Product Name2</span><br>Sorry, It is now working!</a>
                  <a href="#" class="dropdown-item"><span>Product Name15</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...</a>
                  <a href="#" class="dropdown-item"><span>Product Name2</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore...</a>
                  <a href="#" class="dropdown-item"><span>Product Name7</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore...</a>
              </div>
          </li>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown3">
                  <span class="med ml-1 d-md-down-none">{{ user }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown3">
                  <div class="dropdown-header">Account</div>
                  <a href="/profile" class="dropdown-item"><i class="fa fa-user"></i>Profile</a>
                  <a href="#" class="dropdown-item"><i class="fa fa-envelope"></i>Messages</a>
                  <a href="#" class="dropdown-item"><i class="fa fa-bell"></i>Notifications</a>
                  <div class="dropdown-header">Settings</div>
                  <a href="/profile/settings" class="dropdown-item"><i class="fa fa-cog"></i>Settings</a>
                  <a href="{% url 'account_logout' %}" class="dropdown-item"><i class="fa fa-lock"></i>Logout</a>
              </div>
          </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end top-nav -->

        </div>
    </div><!-- end nav-row -->



    <div class="row page-container wrapper" >
        <div class="collapse navbar-collapse col-md-2 d-none d-md-block sidebar-col border-right">

<!-- start sidebar-nav -->
{% block sidebar %}{# include 'snippets/sidebar.html' #}{% endblock %}
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#">Home 1</a></li>
                <li><a href="#">Home 2</a></li>
                <li><a href="#">Home 3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li><a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a></li>
        <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>
    </ul>
</nav>
<!-- end sidebar-nav -->

        </div><!-- end sidebar-nav -->
        <div class="col-10 main-col">

            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4 h-100 main">
{% block dash_content %}{% endblock %}
<!-- Page Content Holder -->
<div id="content">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                    <li><a href="#">Page</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h2>Collapsible Sidebar Using Bootstrap 3</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="line"></div>

    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="line"></div>

    <h2>Lorem Ipsum Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="line"></div>

    <h3>Lorem Ipsum Dolor</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>


            </main>


        </div><!-- end main-content -->
    </div><!-- end content-row -->

</div>


{% endblock %}


