{% extends "base-content.html" %}
{% load static widget_tweaks %}

{% block dash_content %}

<div class="col-md-10">
    <div class="card">
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="card-header bg-light">{{ page_title }}
            {% if user_form.errors %}
                {% for error in user_form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            </div>

            <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"><label class="form-control-label">Fullname:
                                    {% for error in user_form.email.errors %}
                                        <span  style="background:none;border:none;">{{ user_form.fullname.errors|escape }}</span>
                                    {% endfor %}
                                </label>
                                <div>{{ user_form.fullname | add_class:"form-control" }}</div></div>
                        {% if page_title == 'Create User' %}
                            <div class="form-group"><label class="form-control-label">Email:
                                    {% for error in user_form.email.errors %}
                                        <span  style="background:none;border:none;">{{ user_form.email.errors|escape }}</span>
                                    {% endfor %}
                                </label>
                                <div>{{ user_form.email | add_class:"form-control" }}</div></div>
                            <div class="form-group"><label class="form-control-label">Passord:
                                    {% for error in user_form.email.errors %}
                                        <span  style="background:none;border:none;">{{ user_form.password1.errors|escape }}</span>
                                    {% endfor %}
                                </label>
                                <div>{{ user_form.password1 | add_class:"form-control" }}</div></div>
                            <div class="form-group"><label class="form-control-label">Passord:
                                    {% for error in user_form.email.errors %}
                                        <span  style="background:none;border:none;">{{ user_form.password2.errors|escape }}</span>
                                    {% endfor %}
                                </label>
                                <div>{{ user_form.password2 | add_class:"form-control" }}</div></div>
                        {% endif %}
                            <div class="form-group"><label class="form-control-label">Phone: </label>
                                <div>{{ profile_form.phone | add_class:"form-control" }}</div></div>
                            <div class="form-group"><label class="form-control-label">City: </label>
                                <div>{{ profile_form.city | add_class:"form-control" }}</div></div>
                            <div class="form-group"><label class="form-control-label">Country: </label>
                                <div>{{ profile_form.country | add_class:"form-control" }}</div></div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"><label class="form-control-label">Active: {{ user_form.active | add_class:"form-control" }}</label>
                                <!-- <div></div> --></div>
                            <div class="form-group"><label class="form-control-label">Company: </label>
                                <div>{{ profile_form.organization | add_class:"form-control" }}</div></div>
                            <div class="form-group"><label class="form-control-label">Role: </label>
                                <div>{{ profile_form.role | add_class:"form-control" }}</div></div>
                            <div class="form-group"><label class="form-control-label">Bio: </label>
                                <div>{{ profile_form.bio | add_class:"form-control" }}</div></div>
                        </div>
                    </div>
                        {% if page_title != 'Create User' %}
                    <div class="row">
                        <div class="col-md-12"><span class="text-muted small">Last Updated: {{ defaultuser.updated }}</span></div>
                    </div>
                        {% endif %}
            </div>
            <div class="card-footer bg-light text-right">
            <a href="{% url 'users:user_list' %}" title="Back" class="btn btn-primary">Back</a>
               <button type="submit" class="btn btn-primary px-5">Save</button>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    window.onload = function() {
        document.getElementById("id_fullname").focus();
    };
</script>
{% endblock %}
